<!DOCTYPE html>
<html lang="en">
<head>
    <title>Factorial Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/factorial.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
</head>
<body>
    <div id="navBar">
        <a href="/">Home</a>
        <a href="/tony" class="tony-icon">
            <i class="fas fa-star"></i>
        </a>
        <a href="/factorial/5">
            Why would you wanna think about Math during the holidays TToTT
        </a>
    </div>
    <div id="mainContent">
        <h1>Factorial Calculator</h1>
        <form method="POST" action="/factorial">
            <label for="number">Enter a number:</label>
            <input type="text" id="number" name="number" required>
            <button type="submit">Calculate</button>
        </form>

        <!-- Display errors, if any -->
        {% if error %}
            <p style="background-color: #f90318; border: 1px solid #f5c2c7; color: #ffffff;">{{ error }}</p>
        {% endif %}

        <!-- Display the result, if available -->
        {% if result %}
            <p style="background-color: #6fef8c; border: 1px solid #c3e6cb; color: #155724;">The factorial of {{ number }} is {{ result }}.</p>
        {% endif %}
    </div>
    <div id="footer">
        <a href="/20pls">20 days of Christmas?</a>
        <a href="/never">Want to give up?</a>
    </div>
</body>
</html>
