<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/giveup.css') }}">
    <title>You can't give up!!</title>
</head>
<body>
    <div id="holdContent">
        <div id="Rick">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ?si=TLi3MU367pkgoz4F" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>        </div>
        </div>
        <div id="giveup">
            <p>is the previous video is broken? Well...</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/doEqUhFiQS4?si=E8YbgIAvlW0ZIP22" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div id="lemon">
            <p>and if all else fails, know that I tried</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/pd6dCUiqo2w?si=bTnkSnZ6O-VWoHf3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</body>
</html>