<!DOCTYPE html>
<html lang="en">
<head>
    <title>Info!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/info.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
</head>
<body>
    <div id="mainContent">
        <h1>Info!</h1>
        <div class="cards-container">
            <div class="card">
                <img src="{{ url_for('static', filename='images/prideflag.jpg') }}" alt="Philly Pride Flag">
                <p>This is the general pride flag! While there are many variations this one is meant to highlight the important of intersex people, transgender people, black and brown members of the community and the people who died during the aids crisis. Not everyone likes the flag, but it's an important one to remember, especially as we see the rise of transphobia, as whether you're trans or not or an "acceptable queer" or not, the people who hate you will hate you regardless. Always remember and protect those who are the most marginalized in the community.</p>
            </div>
            <div class="card">
                <img src="{{ url_for('static', filename='images/Lesbian.jpg') }}" alt="Lesbian Flag">
                <p>The Lesbian flag! Lesbians are women that like women! However, no matter the label, remember that humans do not fit neatly in boxes, if someone calls themself a lesbian but you don't agree? It is none of your business. If the label suits you, I am glad, but otherwise move on. Lesbians love women and are women or align with womanhood in some way. Some lesbians believe that their gender is Lesbian more than it is woman, this is also correct. </p>
            </div>
            <div class="card">
                <img src="{{ url_for('static', filename='images/trans.jpg') }}" alt="Trans flag">
                <p>This is the Trans flag! People who are trans may not feel comfortable with the gender that was assigned to them at birth. This discomfort can be, sometimes, mild and difficult to place until you try something new and realize you no longer feel like dying. If you find yourself often wishing you were born something else but knowing it's "Impossible", consider experimenting anyways. At worst you'll learn that's not the label that fits, and at best you learn something new about yourself.</p>
            </div>
            <div class="card">
                <img src="{{ url_for('static', filename='images/Bisexual.jpg') }}" alt="Bisexual Flag">
                <p>This is the Bisexual flag! Often defined as people who are attracted to both men and women, bisexuals are attracted to more than one gender. </p>
            </div>
            <div class="card">
                <img src="{{ url_for('static', filename='images/Pansexuality.jpg') }}" alt="Pansexual Flag">
                <p>This is the Pansexual flag! This is often defined as people who are attracted to anyone, regardless of gender. You will find that the definition of Bi and Pan overlap depending on who you speak to. Ultimately the differences and specifics come down to the person and which label they feel most comfortable with, no one is ever incorrect and again, humans can not fit properly into boxes.</p>
            </div>
            <div class="card">
                <img src="{{ url_for('static', filename='images/Aroace.jpg') }}" alt="Aroace flag">
                <p>This is the AroAce flag! Aro means Aromantic and Ace means Asexual, this is for people who feel neither romantic nor sexual attraction. There are seperate flags for both Aro and Ace as you can be one and not the other, as well. This is often difficult to discover (how do you discover the lack of attraction, after all), and a specturm. While someone's label may change or while you may believe they are too young to know, you should never disrespect someone who believes that they are aroace. If they are not, they will discover that eventually on their own.</p>
            </div>
        </div>
    </div>
    <div id="footer">
        <a href="/20pls">20 days of Christmas?</a>
        <a href="/never">Want to give up?</a>
    </div>
</body>
</html>
