<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plstwenty.css') }}">
    <title>We Tried</title>
</head>
<body>
    <div id="holdContent">
        <h1> Okay look...</h1>
        <h2> We did our best</h2>
        <h3> And given this is the phase before any of the real devops work begins</h3>
        <h4> I can't say if we succeeded or not. </h4>
        <h5> But we tried? </h5>
        <h6> And I hope that's enough!</h6>
    </div>
</body>
</html>