<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tony.css') }}">
    <title>Tony! Mariah Says Hi!</title>
</head>
<body>
    <div id="navBar">
        <a href="/">Home</a>
        <a href="/tony" class="tony-icon">
            <i class="fas fa-star"></i>
        </a>
    </div>
    <div id="holdContent">
        <div id="Mariah">
            <h2> Mariah Carey! Wants Something for Christmas!</h2>
            <h3> Merry Chrysler!</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/yXQViqx6GMY?si=yWlFC2xMPQRJk1JQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div id="MariahBroke">
            <h2>Is the Mariah Carey video Broken?</h2>
            <p> I'm sorry I couldn't fix it D:</p>
            <h3>Have this, instead!</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/4nz3HZcOxcg?si=JaSmStH2WyG1W5M7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
    <div id="footer">
        <a href="/20pls">20 days of Christmas?</a>
        <a href="/never">Want to give up?</a>
    </div>
</body>
</html>